<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="One.iGS.API.Driver.Properties.Settings.ParadiseConnectionString"
            connectionString="Data Source=DESKTOP-UK934FU;Initial Catalog=Paradise;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>